name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create addon zip
        run: |
          sed -i "s/@project-version@/${{ github.ref_name }}/g" Masque_Frugal/Masque_Frugal.toc
          zip -r "Masque_Frugal-${{ github.ref_name }}.zip" Masque_Frugal/

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: Masque_Frugal-${{ github.ref_name }}.zip
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
